body {
  background-color: var(--natural);
}

a {
  text-decoration: none;
}

.kontakt h1{
  color: var(--brown);
  text-align: center;
}

.admin_buttons a {
  text-decoration: none;
  color: var(--red);
  font-size: 1.3rem;
}

.admin_buttons a:hover {
  cursor: pointer;
  color: var(--gray);
}

.solved {
  background-color: var(--gray);
}

.contact-check label{
  color: var(--gray);
}

.contact-main {
  padding: .5rem;
  margin: .8rem 0;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 3px #eee;
}




